<!-- Parallax -->
<div class="parallax-container custom no-margin">
    <div class="parallax-content">
        <div class="parallax"><img src="{% static 'images/Arroyo-Alamar-03.jpg' %}"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="text-container small valign-wrapper">
                        <h3 class="center-block center">Corredores ecológicos transfronterizos</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-title left-align pfea-green"></div>
</div>

<!-- Que es -->
<div class="container default-margin">
    <div class="row">
        <div class="col s12 m12 l12">
            <h3>¿Qué es?</h3>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="row">
                        <img class="logo mid" src="{% static 'images/cet_big.png' %}">
                    </div>
                </div>
                <div class="col s12 m8 l8">
                    <div class="row">
                        <h4>Corredores Ecológicos Transfronterizos</h4>
                    </div>
                    <div class="row">
                        <h5>Trabajamos para proteger las áreas naturales y espacios abiertos interconectados que brindan servicios ambientales al a cuenca del Río Tijuana en su naturaleza binacional, por sus beneficios para la comunidad y los ecosistemas.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container default-margin">
    <div class="row">
        <div class="col s12 m8 l8">
            <h4>Proyectos</h4>
            <div class="divider"></div>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Arroyo Alamar</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Parque de Conservación Cañada de los Sauces</p>
        </div>
    </div>
</div>
