<!-- Parallax -->
<div class="parallax-container custom no-margin">
    <div class="parallax-content">
        <div class="parallax"><img src="{% static 'images/donativos.jpg' %}"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="text-container small valign-wrapper">
                        <h3 class="center-block center">Donativos</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-title left-align pfea-blue"></div>
</div>

<div class="container default-padding">
    <div class="row">
        <h3>PayPal</h3>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m6 l6">
                <p>Para hacer un donativo en moneda nacional da clic aquí:</p>
                <div>
                    <form style="max-height: 70px!important;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick" /><br />
                        <input name="hosted_button_id" type="hidden" value="XB5N8KFLKRNR6" /><br />
                        <input style="margin-top: -75px!important;" alt="PayPal, la forma más segura y rápida de pagar en línea." name="submit" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" type="image" /><br />
                        <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />
                    </form>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <p>To place a donation in USA dollars click here:</p>
                <div>
                    <form style="max-height: 70px!important;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick" /><br />
                        <input name="hosted_button_id" type="hidden" value="ZRZ4PGXDZTC6S" /><br />
                        <input style="margin-top: -75px!important;" alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/MX/i/btn/btn_donateCC_LG.gif" type="image" /><br />
                        <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <h3>Inbursa</h3>
            <div class="divider"></div>
            <p>Banco Inbursa, S.A.</p>
            <p>Proyecto Fronterizo de Educación Ambiental A.C.</p>
            <p>CLAVE: 036028500118361394</p>
        </div>
    </div>
</div>
