<div class="parallax-container custom no-margin">
    <div class="parallax-content">
        <div class="parallax"><img src="{% static 'images/margarita-02.jpg' %}"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="text-container small valign-wrapper">
                        <h3 class="center-block center">Logros</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-title left-align pfea-green"></div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h3>Lo que hicimos</h3>
            <div class="divider"></div>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Incidimos en la normatividad federal para lograr que pudieran ser donatarias autorizadas las organizaciones ambientalistas dedicadas a otros temas aparte de la conservación de especies.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Formamos a una nueva generación  de líderes jóvenes ambientalistas en Tijuana.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Produjimos un currículo inédito especializado en los ecosistemas costeros de esta cuenca para impartir talleres de educación ambiental. </p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Fuimos promoventes pioneros del derecho a la información ambiental incidiendo en la normatividad federal y del estado y municipios de B.C.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Organizamos primera iniciativa ciudadana de vinculación entre mas de 1,500 ambientalistas de los 10 estados fronterizos de ambos lados de la frontera para hablar sobre temas ambientales.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Logramos la movilización de mas de 45,000 voluntarios para la limpieza y cuidado de las playas, arroyos y cañadas a escala estatal y remoción 220 toneladas a lo largo de 15 años.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Conducimos el primero y único  programa de monitoreo de cumplimiento de los gobiernos municipales y del estado con sus obligaciones de transparencia de información pública.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Operamos el primer laboratorio ciudadano de Baja California que genera avisos sistemáticos al público sobre la seguridad de la calidad de las aguas costeras para uso recreativo.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Somos líderes en el rescate de 35 ha. de ecosistema ripario del Arroyo Alamar y el Parque de Conservación Cañada de los Sauces.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Ayudamos a preservar el hábitat de especies en peligro de extinción y amenazadas, como son el pelícano café, el lobo marino y el delfín y otras que transitan frente a nuestras costas.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <h3>Lo que hacemos</h3>
            <div class="divider"></div>
        </div>
        <div class="col s6 m6 l6">
            <h5>Visitante de la playa</h5>
            <p><i class="material-icons smaller pfea-green-text">send</i> Te informamos semanalmente sobre la calidad del agua de la playa, para uso recreativo.</p>
            <p><i class="material-icons smaller pfea-green-text">send</i> Patrullamos la playa continuamente para advertir alguna anomalía ambiental.</p>
        </div>
        <div class="col s6 m3 l6">
            <h5>Jóven</h5>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Te capacitamos como líder ambiental juvenil de tu escuela y tu colonia.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Te capacitamos como capitán de sitio para las campañas de limpieza “Salvemos la Playa”.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Te ofrecemos un espacio de aprendizaje donde liberar tus horas de servicio social.</p>
        </div>
        <div class="col s6 m6 l6">
            <h5>Vecinos, líderes comunitarios, maestros</h5>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Te asesoramos en tus gestiones por preservar ecosistemas y biodiversidad bajo amenaza.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Te enseñamos sobre el valor de las especies y el ecosistema costero y ribereño que nos rodea.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Te hacemos llegar información ambiental relevante, interesante y de manera constante.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Representamos tus inquietudes y propuestas en los Comités ciudadanos que se encargan de garantizar que se respeten tus derechos a un ambiente sano.</p>
        </div>
        <div class="col s6 m6 l6">
            <h5>Dueño y cliente de restaurantes</h5>
            <p><i class="material-icons smaller pfea-green-text">send</i> Te otorgamos una certificación como Restaurante Amigo Del Mar.</p>
            <p><i class="material-icons smaller pfea-green-text">send</i> Te enteramos de los graves impactos que ocasionan los plásticos desechables en el océano y las alternativas para prevenirlos.</p>
        </div>
    </div>
</div>
