<div class="parallax-container custom no-margin">
  <div class="parallax-content">
    <div class="parallax">
      <%= image_tag "Arroyo-Alamar-02.jpg" %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="text-container small valign-wrapper">
            <h3 class="center-block center">Misión, Visión y Principios</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-title left-align pfea-green"></div>
</div>

<div class="parallax-container custom">
  <div class="parallax-content">
    <div class="parallax">
      <%= image_tag "Playas-Tijuana-01.jpg" %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6"></div>
        <div class="col s12 m6 l6">
          <div class="text-container medium">
            <p class="title">Misión</p>
            <p class="content">Trabajar para proteger el océano, arroyos y costas de nuestra cuenca.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-title left-align pfea-orange"></div>
</div>

<div class="parallax-container custom">
  <div class="parallax-content">
    <div class="parallax">
      <%= image_tag "Arroyo-Alamar-01.jpg" %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="text-container medium">
            <p class="title">Visión</p>
            <p class="content">Una cuenca costera conectada por ríos vivos y protegida por una comunidad que participa en el rescate de su patrimonio hídrico.</p>
          </div>
        </div>
        <div class="col s12 m6 l6"></div>
      </div>
    </div>
  </div>
  <div class="parallax-title right-align pfea-green"></div>
</div>

<div class="parallax-container custom">
  <div class="parallax-title center pfea-blue">
    <p>Principios</p>
  </div>
  <div class="parallax-content">
    <div class="parallax">
      <%= image_tag "LasPlayasSunset.jpg" %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m4 l4">
          <div class="text-container small center">
            <p class="title">Predicamos con el ejemplo</p>
            <p class="content">Lo que decimos, lo hacemos y podemos demostrarlo.</p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="text-container small center">
            <p class="title">Trabajamos y actuamos en comunidad</p>
            <p class="content">Propiciamos la colaboración incluyente, el diálogo transparente, el consenso y la corresponsabilidad.</p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="text-container small center">
            <p class="title">Enfoque de cuenca como base</p>
            <p class="content">Actuamos localmente para rescatar el patrimonio hídrico global.</p>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="text-container small center">
          <p class="title">Ciencia y hechos son el fundamento</p>
          <p class="content">Fundamentamos nuestras opiniones en datos científicos y oficiales, y dentro de un marco de la cultura de la legalidad.</p>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="text-container small center">
          <p class="title">Natura y cultura son una</p>
          <p class="content">Creemos que las fronteras son artificiales ya que las comunidades naturales y humanas están interconectadas.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="parallax-title right-align pfea-blue"></div>
</div>
