<!-- Parallax -->
<div class="parallax-container custom no-margin">
    <div class="parallax-content">
        <div class="parallax"><img src="{% static 'images/Lanzamiento_RestauranteAmigoDelMar_PFEA.jpg' %}"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="text-container small valign-wrapper">
                        <h3 class="center-block center">Restaurantes Amigos del Mar</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-title left-align pfea-orange"></div>
</div>

<!-- Que es -->
<div class="container default-margin">
    <div class="row">
        <div class="col m12">
            <h3>¿Qué es?</h3>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col m4">
                    <div class="row">
                        <img class="logo mid" src="{% static 'images/R.A.M._Logo-01.png' %}">
                    </div>
                </div>
                <div class="col m8">
                    <div class="row">
                        <h4>El Programa de Certificación</h4>
                    </div>
                    <div class="row">
                        <h4>Restaurante Amigo del Mar</h4>
                    </div>
                    <div class="row">
                        <h5>Trabajamos con restaurantes locales para reducir la cantidad de desechables de plástico que usan en su servicio, así como los residuos producidos a consecuencia, que están contaminando nuestras playas y el océano.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container custom no-margin">
    <div class="parallax-content">
        <div class="parallax"><img src="{% static 'images/lumina-cafe.jpg' %}"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="text-container medium">
                        <p class="title">¿Cómo convertirse en Restaurante Amigo del Mar?</p>
                        <p class="content">Los restaurantes se comprometen a adoptar voluntariamente prácticas que reducen la generación de desechables de plástico de un solo uso,  principales contaminantes de playas y el océano.</p>
                    </div>
                </div>
                <div class="col s12 m6 l6"></div>
            </div>
        </div>
    </div>
    <div class="parallax-title left-align pfea-green"></div>
</div>

<div class="container default-margin">
    <div class="row">
        <div class="col s12 m12 l12">
            <h3>¿Cómo funciona?</h3>
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <p><i class="material-icons smaller pfea-orange-text">send</i> Eliminar el uso de desechables para servicio dentro del restaurante, utilizando sólo platos, vasos y cubiertos reutilizables.</p>
            <p><i class="material-icons smaller pfea-green-text">send</i> Aplicar mejores prácticas de separación y disposición de residuos reciclables.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Proveer popotes sólo a petición del cliente.</p>
            <p><i class="material-icons smaller pfea-green-text">send</i> Eliminar el uso de recipientes de unicel en servicios para llevar y reemplazarlos por otros materiales reciclados, reciclables, compostables o biodegradables.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Reemplazar las bolsas de plástico por bolsas reutilizables y/o compostables o biodegradables en los servicios para llevar.</p>
            <p><i class="material-icons smaller pfea-green-text">send</i> Proveer bolsas y utensilios desechables sólo a petición del cliente en servicios para llevar.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Eliminar la venta de bebidas preparadas en botellas de plástico.</p>
            <p><i class="material-icons smaller pfea-green-text">send</i> Servir agua natural embotellada sólo a petición del cliente.</p>
            <p><i class="material-icons smaller pfea-orange-text">send</i> Ofrecer un programa de incentivos para clientes que lleven sus propias bolsas, tazas, y recipientes reutilizables.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h3>Beneficios</h3>
            <div class="divider"></div>
            <h5>Los restaurantes que se certifiquen como Restaurante Amigo del Mar, recibirán los siguientes beneficios:</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            <img class="logo mid center-block center" src="{% static 'images/RAM_Bajale-02.png' %}">
        </div>
        <div class="col s12 m8 l8">
            <p><i class="material-icons smaller pfea-blue-text">send</i> Promoción a más de 5,000 consumidores a través de los canales de comunicación y eventos de PFEA (incluyendo las campañas de limpieza bianuales de Salvemos La Playa).</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Promoción a más de 30,000 consumidores de San Diego a través de los canales de comunicación de Surfrider Foundation San Diego (redes sociales, pagina web, envíos masivos de email y eventos comunitarios)</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Promoción a más de 50,000 consumidores en los canales de comunicación de aliados del Programa Restaurantes Amigos del Mar como CANIRAC, Dirección de Protección al Ambiente, Delegación Playas de Tijuana, WasteLab AC, Pura Kai.</p>
            <!-- <p><i class="material-icons smaller pfea-blue-text">send</i> Materiales informativos y de promoción para uso dentro del restaurante.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Diseños para la producción de piezas adicionales de promoción.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Entrenamiento de personal del restaurante sobre mejores prácticas requeridas por la certificación.</p>
            <p><i class="material-icons smaller pfea-blue-text">send</i> Tambos para el acopio de materiales reciclables y servicio de recolección semanal gratuito.</p> -->
        </div>
    </div>
</div>
    
<div class="container default-margin default-padding">
    <div class="row center">
        <div class="col m12">
            <img src="{% static 'images/ProcesoCertificacion-1024x480.png' %}" style="width: 100%;">
        </div>
    </div>
</div>

<div class="container default-margin default-padding">
    <div class="row center">
        <div class="col m12">
            <img src="{% static 'images/RAM_problematica-01.jpg' %}" style="width: 100%;">
        </div>
    </div>
</div>
