<div class="parallax-container custom no-margin">
    <div class="parallax-content">
        <div class="parallax"><img src="{% static 'images/Playas-Tijuana-02.jpg' %}"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="text-container small valign-wrapper">
                        <h3 class="center-block center">Reconocimientos y Certificaciones</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-title left-align pfea-orange"></div>
</div>

<div class="container default-padding">
    <div class="row default-margin">
        <div class="col s12 m8 l8">
            <h3>Premio al Mérito Ecológico</h3>
            <div class="divider"></div>
        </div>
        <div class="col s12 m8 l8">
            <p>El Premio al Mérito Ecológico es el reconocimiento ambiental más importante en México. Reconoce anualmente a la persona física o moral mexicana que realizara acciones u obras relevantes en beneficio de la preservación y restauración del equilibrio ecológico y la protección al ambiente.</p>
            <p>Margarita Díaz recibio este reconocimiento por ser el motor principal de la Campaña Nacional “Limpiemos Nuestro México” en Baja California y por su proyecto comunitario Salvemos la Playa que ha transformado la responsabilidad social de la comunidad por su medio ambiente.</p>
        </div>
        <div class="col s12 m4 l4">
            <img src="{% static 'images/merito_ecologico.jpg' %}" style="width: 100%; height: auto;">
        </div>
    </div>
    <div class="row default-margin">
        <div class="col s12 m8 l8">
            <h3>San Diego Coast Keeper</h3>
            <div class="divider"></div>
        </div>
        <div class="col s12 m8 l8">
            <p>Premio que se otorga anualmente a empresas o líderes comunitarios cuya contribución juega un papel inportante en el cuidado y preservación de los ambientes costeros. Margarita Díaz es galardonada como Campeona Comunitaria de Defensa de las Costas en relación a su labor de crear conciencia ecológica en la frontera y sumar las voluntades de muchos otros grupos comunitarios y empresas que se han interesado en la limpieza de la playa.</p>
        </div>
        <div class="col s12 m4 l4">
            <img src="{% static 'images/coast-keeper.jpeg' %}" style="width: 100%; height: auto;">
        </div>
    </div>
    <div class="row default-margin">
        <div class="col s12 m8 l8">
            <h3>River Hero</h3>
            <div class="divider"></div>
        </div>
        <div class="col s12 m8 l8">
            <p>Premio que otorga River Networks para distinguir a quienes protegen y cuidan los cauces de agua en sus comunidades.Desde el año 2002, sesenta y dos individuos han sido honrados con este prestigioso premio.</p>
            <p>Margarita Díaz ha sido la primera mujer latinoamericana que ha recibido este reconocimiento por destacar como líder de esfuerzos comunitarios en defensa de la protección de la calidad del agua de las costas en Playas de Tijuana y los cauces de agua en la Cuenca del Río Tijuana.</p>
        </div>
        <div class="col s12 m4 l4">
            <img src="{% static 'images/river-hero-tijuana.jpeg' %}" style="width: 100%; height: auto;">
        </div>
    </div>
</div>
