<footer class="page-footer pfea-blue white-text">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l4 center">
                <%= image_tag "pfea_wh.png" %>
            </div>
            <div class="col s12 m4 l4">
              <form action="#" method="GET">
                    <div class="input-field">
                        <input placeholder="Nombre" type="text">
                    </div>
                    <div class="input-field">
                        <input placeholder="Correo electrónico" type="text">
                    </div>
                    <div class="input-field">
                        <textarea placeholder="Mensaje" class="materialize-textarea"></textarea>
                    </div>
                    <button type="submit" class="btn col s12 white black-text">Enviar</button>
                </form>
            </div>
            <div class="col s12 m4 l4">
                <p><i class="material-icons medium">place</i> Volcán # 632, Secc. Monumental, Playas de Tijuana, Tijuana, B.C., México</p>
                <p><i class="material-icons medium">phone</i> Tel. (664) 630.05.90 | info@pfea.org</p>
                <p><i class="material-icons medium">mail</i> info@pfea.org</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2016 PFEA A.C.
        </div>
    </div>
</footer>
